*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: rgb(146, 43, 33);
  --color-verde-whats: rgb(30, 132, 73);
  --tipografia-principal: "Mulish", sans-serif;
  --tipografia-promocion: "Open Sans", sans-serif;
  --tipografia-marca: "Kaushan Script", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.bodyPrincipal {
  min-height: 100vh;
}
.boxKingLion{
  position: relative;
  display: block;
  background: var(--color-principal);
  height: 100px;
  text-align: center;
}
.boxKingLion a {
  text-decoration: none;
  color: black;
}
.boxKingLion a:hover {
  color: white;
}
.boxKingLion a h1{
  display: inline-block;
  position: absolute;
  left: 0%;
  font-family: var(--tipografia-marca);
  text-align: center;
  width: 350px;
  font-size: 50px;
  padding: 10px;
  margin-top: -1px;
  text-shadow: 0px 0px 3px #fff;
}
.carritoIcon {
  display: inline-block;
  position: absolute;
  left: 91%;
  top: 27px;
}
.cantCarrito {
  display: inline-block;
  position: absolute;
  top: 29px;
  left: 95%;
  color: white;
  font-size: 40px;
}
nav{
  margin: 5px 0px;
}
.enlacesNav {
  display: flex;
  justify-content: space-around;
  padding: 2px;
}
.enlacesNav li{
  overflow: hidden;
}
.enlacesNav li:hover {
  transform: scale(1.3);
  transition: 1s;
}
.enlacesNav li a{
  font-family: var(--tipografia-principal);
  text-decoration: none;
  color: var(--color-principal);
}
.enlacesNav li a:hover{
  color: #000;
}
.cuotasHeader {
  display: flex;
  justify-content: center;
  background: var(--color-principal);
  font-family: var(--tipografia-principal);
  margin: 10px 0px;
}
.cuotasHeader p {
  padding: 5px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  line-height: 1.5;
  font-family: var(--tipografia-principal);
}
.cuotasHeader p::before {
  content: "Todos los dias, ";
  font-size: 18px;
  color: #000;
  font-family: var(--tipografia-principal);
}
.cuotasHeader p::after {
  content: " cuotas fijas";
  color: rgb(245, 245, 245);
  font-size: 15px;
  font-family: var(--tipografia-principal);
}
.visual-imgCss{
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  background-image: url(https://www.palco23.com/files/2020/18_recursos/deporte%20outdoor/zapatilla-948.jpg);
  background-size: 100% 100%;
  background-origin: border-box;
  object-position: center center;
}
.saleMain{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.saleMain div{
  background-color: var(--color-principal);
  flex-basis: 310px;
  font-size: 20px;
  border: 2px solid #000;
  height: 75px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 15px 0 var(--color-principal);
  text-align: center;
  align-content: center;
}
.saleMain div a{
  text-decoration: none; 
  color: #fff; 
  font-family: var(--tipografia-principal);
  
}
.saleMain div p{
  font-family: var(--tipografia-promocion);
  font-weight: 100;
  color: #fff;
}
.colMain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
}
.colMain div{ 
  flex-grow: 1;
  height: 15.625rem;
  margin: 0px 5px;
}
.colMain div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boxCarru h4{
  font-family: var(--tipografia-principal);
  font-size: 30px;
  margin-left: 20px;
}
.boxCarru div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; 
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
.boxCarru div figure{
  padding: 20px;
}
.boxCarru div figure img{
  width: 120px;
  height: 110px;
}
.duoImg{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.duoImg figure{
  flex-grow: 1;
  width: 600px;
  height: 400px;
  margin-left: 10px;
}
.duoImg figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categoriasMain {
  display: inline-block;
  position: absolute;
  height: auto;
  width: 180vh;
  left: 35vh;
  padding: 0px 0px 10px 0px;
}
.boxShopDom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(260px, 340px));
  justify-items: center;
  gap: 10px;
}
.artProduct{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 300px;
  height: 335px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0 var(--color-principal);
  border-radius: 5px;
  overflow: hidden;
}
.artProduct figure{
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0px;
}
.artProduct figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artProduct h4{
  font-family: var(--tipografia-principal);
  font-size: 20px;
  padding: 5px 0px 0px 0px;
}
.artProduct p{
  font-family: var(--tipografia-promocion);
  text-align: center;
  font-size: 15px;
  padding: 5px 5px;
}
.artProduct div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px 0px;
}
.artProduct button{
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.artProduct button:hover {
  background-color: #5cbf2a;
}
.boxAside {
  display: grid;
  grid-template-columns: 190px;
  grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
  text-align: center;
  justify-items: center;
  align-content: start;
  border: 4px inset rgba(181, 21, 0, 0.97);
  height: auto;
  width: 200px;
  margin: 0px 0px 0px 2px;
}
.boxAside a {
  margin: 20px 0px 10px 0px;
  text-decoration: none;
  color: black;
  font-family: var(--tipografia-promocion);
  font-size: 15px;
}
.boxAside a::after {
  content: " resultados de busqueda";
  color: black;
  font-size: 15px;
  font-family: var(--tipografia-promocion);
}
.opAside {
  font-family: var(--tipografia-promocion);
  color: black;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin: 0px 2px;
  height: 45px;
}
.boxFiltros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxFiltros h4{
  margin-top: 15px;
  font-family: var(--tipografia-promocion);
  color: black;
  font-size: 19px;
  text-align: center;
}
.boxFiltros div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.boxFiltros div p {
  font-family: var(--tipografia-promocion);
  color: black;
  font-size: 15px;
  text-align: center;
}
.boxFiltros div button {
  height: 15px;
  width: 20px;
  border-radius: 28px;
}
.boxFiltros div button:hover {
  background-color: #5cbf2a;
}
.btnDeleteFilter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 90%; 
  padding: 10px 0px;
}
.btnDeleteFilter p{
  font-family: var(--tipografia-promocion);
  color: rgb(248, 20, 20);
  font-size: 15px;
  text-align: center;
}
.btnDeleteFilter button{
  height: 15px;
  width: 20px;
  border-radius: 28px;
}
.btnDeleteFilter button:hover {
  background-color: #f61010;
}